<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Локально собранные пакеты Flare (артефакты репозитория C:\Job\Projects\FrigaT\Flare) -->
    <add key="FlareLocal" value="C:\Job\Projects\FrigaT\Flare\artifacts" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
